.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5; 
    font-family: Arial, sans-serif;
  }
  .contact-child .contact-child-left img{
    width: 100px;
    margin-bottom: 20px;
  }
  .contact-child {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    background-color: #FBF9F8; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; 
    margin-bottom: 80px;
  }
  .contact-child-left h5{
    color:rgb(97, 54, 19) ;
    font-weight: 600;
  }
  .contact-child-left,
  .contact-child-right {
    flex: 1; 
  }
  
  .contact-child-left {
    padding-right: 20px;
  }
  
  .contact-child-left h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-child-left h6 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .contact-child-left i {
    margin-right: 10px;
    color:  rgb(97, 54, 19); 
  }
  
  .contact-child-left span {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .contact-child-right label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .contact-child-right label span {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333;
  }
  
  .contact-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .contact-input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  @media (max-width: 768px) {
    .contact-child {
      flex-direction: column; /* Xếp chồng left và right trên màn hình nhỏ */
    }
  
    .left {
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  .input-mess{
    height: 140px;;

  }
  .button-send-mess{
    background-color: rgb(97, 54, 19);
    color: #ffff;
    border: none;
  }