.body {
  height: auto;
  background-color: #FBF9F8;


}

.card {
  border-radius: 12px;
  border-color: rgba(196, 120, 86, .5) !important;
  border-width: 2px !important;

}

.card h5 {
  color: #613613;

}

.card-title {
  font-size: 1.1rem;
  color: #333;
}

.card-text {
  font-size: 0.9rem;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.btn {
  border-radius: 20px;
}

.cardd {
  border-style: solid !important;

}

.star {
  color: #FFD013;
}

.button-buy {
  background-color: #C47856 !important;
  color: #FFFFFF !important;
  right: -65%;
  border-radius: 80px !important;
  background: linear-gradient(96.55deg, #8F582A 12.14%, #E9BC98 105.25%) !important;
  border: none !important;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px !important;
}

.cardbody {
  position: relative;
  border-radius: 20px !important;
}

.button-buy-in-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  bottom: 37%;
  left: 2%;
  background: linear-gradient(96.55deg, #8F582A 12.14%, #E9BC98 105.25%) !important;

}
.logo-buy-in-image{
  font-size: 18px;
  position: absolute;
  left: 6px;
  top: 8px;
}
