.body {
  height: auto;
  background-color: #fbf9f8;
}
.haha{
  margin-bottom: 150px;
}
.card {
  border-radius: 12px;
  border-color: rgba(196, 120, 86, 0.5) !important;
  border-width: 2px !important;
}

.card h5 {
  color: #613613;
}

.card-title {
  font-size: 1.1rem;
  color: #333;
}

.card-text {
  font-size: 0.9rem;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.btn {
  border-radius: 20px;
}

.cardd {
  border-style: solid !important;
}

.star {
  color: #ffd013;
}

.button-buy {
  background-color: #c47856 !important;
  color: #ffffff !important;
  right: -65%;
  border-radius: 80px !important;
  background: linear-gradient(
    96.55deg,
    #8f582a 12.14%,
    #e9bc98 105.25%
  ) !important;
  border: none !important;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px !important;
}

.cardbody {
  position: relative;
  border-radius: 20px !important;
}

.button-buy-in-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  bottom: 37%;
  left: 2%;
  background: linear-gradient(
    96.55deg,
    #8f582a 12.14%,
    #e9bc98 105.25%
  ) !important;
}
.logo-buy-in-image {
  font-size: 18px;
  position: absolute;
  left: 6px;
  top: 8px;
}
.product-detail {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
}
.product-detail.open {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.product-detail-child {
  width: 80%;
  min-height: 800px;
  background-color: #fbf9f8;
  position: relative;
}
.button-close-product-detail {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: rgb(97, 54, 19);
}
.button-close-product-detail:hover{
  cursor: pointer;
  opacity: 0.5;
}
.product-child-right img {
  width: 600px;
}
.product-detail-child-lr {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  width: 100%;
  margin-bottom: 80px;
}
.product-child-left,
  .product-child-right {
    flex: 1; 
    position: relative;
  }
.button-buy-product{
  height: 40px;
  width: 170px;
  background-color: #613613;
  color: #fbf9f8;
  border: none;
  position: absolute;
  bottom: 0;
}

/**/
img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }



.pagination-l{
  width: 50px !important;
  height: 50px !important;
  margin-left: 50% !important;
  margin-top: 90px;
  margin-bottom: 100px;
  display: flex !important;

}
.image-product{
  width: 500px !important;
  height: 340px !important;
}
.pagination-button{
  background-color: #8f582a !important;
  border: none !important;
  margin-left: 5px;
}
.pagination-l{
}
.button-revious{
  width: 80px !important;
}